/* Custom styles for https://tilastoseura.fi */

:root {
    --additional-1-c: #373e40; /* Onyx */
    --additional-2-c: #6E7E85; /* Slate grey */
    --additional-3-c: #16E7E8; /* Fluorescent blue */
    --accent-1-c: #00007e; /* Navy blue */
    --accent-2-c: #C8E9E9; /* Powder blue */
    --accent-3-c: #0078ff; /* Blue crayloa */
    --accent-4-c: #0054b6; /* Sapphire */
    --background-c: #fdfdfd; /* White */
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
    url('/fonts/montserrat/Montserrat-Regular.otf');
}
@font-face {
        font-family: "WorkSans-ExtraBold";
        src: local("WorkSans"),
        url('/fonts/Work_Sans/static/WorkSans-ExtraBold.ttf');
}
@font-face {
        font-family: "WorkSans-Bold";
        src: local("WorkSans"),
        url('/fonts/Work_Sans/static/WorkSans-Bold.ttf');
}
@font-face {
	font-family: "WorkSans-SemiBold";
	src: local("WorkSans"),
	url('/fonts/Work_Sans/static/WorkSans-SemiBold.ttf');
}
@font-face {
        font-family: "WorkSans-Regular";
        src: local("WorkSans"),
        url('/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}
@font-face {
        font-family: "WorkSans-Italic";
        src: local("WorkSans"),
        url('/fonts/Work_Sans/static/WorkSans-Italic.ttf');
}

body {
    padding-top: 56px;
    color: black; 
    background-color: var(--background-c);
    font-family: Montserrat;
}


html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

a {
    color: var(--accent-3-c);
}
a:visited {
    color: var(--accent-3-c);
}
a:hover {
    color: var(--accent-4-c);
}
a.footer {
    color: var(--accent-2-c);
}
a.footer:visited {
    color: var(--accent-2-c);
}
a.footer:hover {
    color: var(--additional-3-c);
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

td {
  vertical-align: top;
}

.btn {
    color: var(--accent-1-c);
    background: var(--additional-1-c);
    border-color: var(--accent-2-c);
}
.btn:hover {
    color: var(--accent-1-c);
    background: var(--additional-1-c);
    border-color: var(--accent-1-c);
}

.card-img, card-img {
    background-color: #FFFFFF;
    padding: 2em;
}
.card-text, card-text {
    color: black;
}
.card-title, card-title {
    background-color: var(--additional-2-c);
}
.card-body, card-body {
    background-color: var(--additional-2-c);
}
.card, card {
    background-color: var(--additional-2-c);
}

.carousel-body, carousel-body {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar, navbar-dark {
    background-color: var(--additional-1-c);
}

.navbar-nav li .dropdown-menu {
    font-family: WorkSans-SemiBold;
    background-color: var(--additional-1-c);
}
.navbar-nav li .dropdown-item {
    color: var(--background-c);
    background-color: var(--additional-1-c);
}
.navbar-nav li .dropdown-menu>dropdown-item>a:hover {
    background-color: var(--additional-1-c);
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    color: var(--accent-2-c);
    background-color: var(--additional-1-c);
}

.navbar .container .navbar-brand {
    font-family: WorkSans-SemiBold;
    color: var(--background-c);
}
.navbar .container .nav-item .nav-link {
    font-family: WorkSans-SemiBold;
    color: var(--background-c);
}
.navbar .container .nav-item .nav-link:active, .navbar .container .nav-item .nav-link:hover {
    color: var(--accent-2-c);
}
.navbar .container .nav-item, .navbar .container .nav-item .nav-link:visited {
    color: var(--background-c);
    background-color: var(--additional-1-c);
}
.navbar .container .nav-item .nav-link:hover {
    color: var(--accent-2-c);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.h1, h1 {
    font-family: WorkSans-ExtraBold;
    color: var(--accent-1-c);
}
.h2, h2 {
    font-family: WorkSans-Bold;
    color: var(--accent-1-c);
}
.h3, h3 {
    font-family: WorkSans-SemiBold;
    color: var(--accent-1-c);
}
.h4, h4 {
    font-family: WorkSans-Regular;
    color: var(--accent-1-c);
}
.h5, h5 {
    font-family: WorkSans-Italic;
    color: var(--accent-1-c);
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.footer-dark {
    color: var(--background-c);
}
